@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:wght@700&display=swap');

div#Root {
    width: 100%;
    height: 100%;
}

div.App {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

form.loginForm, div.loginForm {
    width: 100%;
    max-width: 350px;
    margin-top: clamp(50px, 15%, 150px);
}

div.loginFormInputGroup > div.loginInputWrap:first-of-type:not(:only-of-type) input,
div.loginFormInputGroup > div.loginInputWrap:last-of-type input.is-invalid {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

div.loginFormInputGroup > div.loginInputWrap:not(:first-of-type):not(:last-of-type):not(:only-child) input,
div.loginFormInputGroup > div.loginInputWrap:not(:last-of-type) div.inputFeedbackTooltip {
    border-radius: 0 !important;
}

div.loginFormInputGroup > div.loginInputWrap:not(:first-of-type) input,
div.loginFormInputGroup > div.loginInputWrap:not(:first-of-type) div.inputFeedbackTooltip{
    margin-top: -1px;
}

div.loginFormInputGroup > div.loginInputWrap:last-of-type:not(:only-child) input,
div.loginFormInputGroup > div.loginInputWrap:last-of-type div.inputFeedbackTooltip{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

input.loginInput {
    transition: border-radius 200ms ease, border-width 200ms ease;
}

input.loginInput:focus {
    position: relative;
    z-index: 1;
}

input.loginInput.is-invalid:focus {
    box-shadow: none;
    border-width: 5px;
}

input.loginInput:focus ~ label {
    z-index: 2;
}

input.loginInput.stackedInput, input.loginInput.stackedInput ~ div.inputFeedbackTooltip {
    margin-top: -1px;
}

input[type="checkbox"], input[type="checkbox"] ~ label {
    cursor: pointer;
}

div.inputFeedbackTooltip {
    overflow: hidden;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 0;
    transition: max-height 400ms ease, padding 400ms ease, margin 400ms ease;
}

input.is-invalid ~ div.inputFeedbackTooltip,
div.loginInputWrap.is-invalid > div.inputFeedbackTooltip {
    max-height: 100px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
input[type="checkbox"].is-invalid ~ div.inputFeedbackTooltip {
    margin-top: 1rem;
}

.largeIcon{
    width: 100px;
    height: 100px;
}

.smallIcon{
    height: 2rem;
    width: 2rem;
}

ul.dropdown-menu.userDropdown {
    right: 0;
    left: unset;
}

.dropdown-toggle.dropdown-icon:after{
    vertical-align: unset;
    position: relative;
    top: 0.1rem;
}

.spinner {
    animation: spin infinite 3s linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
